In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("resale data.csv")

In [7]:
df.head()

   resale_price         town     remaining_lease flat_type  floor_area_sqm
0      200000.0  BUKIT MERAH            57 years         1            31.0
1      218000.0  BUKIT MERAH            57 years         1            31.0
2      217000.0  BUKIT MERAH  56 years 10 months         1            31.0
3      175000.0  BUKIT MERAH  56 years 08 months         1            31.0
4      203000.0  BUKIT MERAH  56 years 08 months         1            31.0

In [7]:
def convert_year(date):
    if "Jan" in date:
        return "Jan"
    elif "Feb" in date:
        return "Feb"
    elif "Mar" in date:
        return "Mar"
    elif "Apr" in date:
        return "Apr"
    elif "Jun" in date:
        return "Jun"
    elif "Jul" in date:
        return "Jul"
    elif "Aug" in date:
        return "Aug"
    elif "Sep" in date:
        return "Sep"
    elif "Oct" in date:
        return "Oct"
    elif "Nov" in date:
        return "Nov"
    else:
        return "Sep"

df["Lease Commencement Month"] = df["Lease Commencement Date"].apply(convert_year)

In [8]:
def convert_year(date):
    if "22" in date:
        return "2022"
    elif "21" in date:
        return "2021"
    elif "20" in date:
        return "2020"
    elif "19" in date:
        return "2019"
    elif "18" in date:
        return "2018"
    else:
        return "2017"
   

df["Lease Commencement Year"] = df["Lease Commencement Date"].apply(convert_year)

In [10]:
df.to_csv("rental data-updated.csv")

In [6]:
def convert_year(date):
    return ''.join(filter(str.isdigit, date))
   

df["flat_type"] = df["flat_type"].apply(convert_year)

In [8]:
df.to_csv("resale data-updated.csv")